<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackendProyectoFinal.Properties.Settings.proyectoprogra5ConnectionString" connectionString="Data Source=DESKTOP-K6O49GL;Initial Catalog=proyectoprogra5;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="BackendProyectoFinal.Properties.Settings.DataSourceConnectionString" connectionString="Data Source=DESKTOP-0KNF3UG\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
        <add name="BackendProyectoFinal.Properties.Settings.proyectoprogra5ConnectionString1" connectionString="Data Source=DESKTOP-0KNF3UG\SQLEXPRESS;Initial Catalog=proyectoprogra5;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>